html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
/* Vertically center the text there */
}

.corner-box-1 {
    display: inline-block;
    width: 300px;
    position: relative;
    border: 2px solid #ff4655;
    transition: all .3s ease;
    margin: 10px;
}

    .corner-box-1:before,
    .corner-box-1:after {
        content: "";
        z-index: 1;
        display: block;
        position: absolute;
        background: #FFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
    }

    .corner-box-1:before {
        width: calc(100% + 4px);
        height: 80%;
        transition: height 0.6s;
    }

    .corner-box-1:after {
        height: calc(100% + 4px);
        width: 90%;
        transition: width 0.6s;
    }

    .corner-box-1:hover:before,
    .corner-box-1:focus:before {
        height: 50%;
    }

    .corner-box-1:hover:after,
    .corner-box-1:focus:after {
        width: 75%;
    }

.corner-box-1-content {
    z-index: 2;
    position: relative;
}


.atuin-btn {
    display: inline-flex;
    text-align:center;
    align-content:center;
    align-items:center;
    justify-content:center;
    width: 250px;
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto', Òahoma, sans-serif;
    background: #337AB7;
    cursor: pointer;
    border: 2px solid #BFE2FF;
    outline: 1px solid;
    outline-color: #337AB7;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
    box-shadow: inset 0 0 20px #BFE2FF;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    color: #FFF;
}



