@model MyCar.Web.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row w-100" style="justify-content:center; align-items:center; display:flex; height:100%; margin-top: 6%; ">
    <div class="container text-center align-middle d-flex justify-content-center">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" >
            <div class="row w-100" style="justify-content:center; display:flex; align-items:center; margin-left: 0;">
                <h2 style="color: white; justify-content:center; align-items:center; display:flex;">Вход на сайт</h2>
            <div class="validation" asp-validation-summary="ModelOnly" style="color:red; font-size: 16px; justify-content:center; align-items:center;"></div>
            </div>
            <div style="display:grid; justify-content:center; align-items:center;">
                <div class="form-group" style="margin-top: 30px;">
                    <input type="text"  required="" autofocus="" id="inputEmail" asp-for="UserName" class="form-control" placeholder="Имя пользователя" style="width: 300px; text-align:center; display:flex; justify-content:center;"/>
                    <span asp-validation-for="UserName" class="text-white"/>
                </div>
                <div class="form-group" style="margin-top: 50px;">
                    <label style="color:white; display:flex;">
                        <input type="password" asp-for="Password" name="password" id="password" placeholder="Пароль" style="display:flex; justify-content:center; height:40px; text-align:center; width: 300px;" />
                        <i class="bi bi-eye-slash-fill" id="togglePassword" style="font-size: 20px; color: black;"></i>
                    </label>
                    <span asp-validation-for="Password" class="text-white" />
                </div>
                <div class="form-group" style="margin-bottom:20px; margin-top:50px; display: flex; justify-content:center;">
                    <input class="atuin-btn" id="success" type="submit" role="button" title="Если вы зарегистрированы на этом сайте то просто зайдите под своим логином и паролем" value="Войти" data-toggle="tooltip" data-placement="right"/>  
                </div>
                <div class="form-group" style="margin-bottom:20px;">
                    <a asp-action="Register" class="atuin-btn" data-toggle="tooltip" data-placement="left" title="Для регистрации на нашем сайте нажмите эту кнопку" role="button" style="align-content:center; text-align:center;" aria-pressed="true" asp-controller="Account">
                        Регистрация
                    </a>
                </div>
                <div class="form-group" style="margin-bottom:20px;">
                    <a asp-action="EditPasswordView" class="atuin-btn" data-toggle="tooltip" data-placement="left" title="Для изменения пароля нажмите эту кнопку" role="button" style="align-content:center; text-align:center;" aria-pressed="true" asp-controller="Account">
                        Забыли пароль?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
</script>

<script>
    function myFunctionRegister() {
    var x = document.getElementById("myInputRegister");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>
