@model ModelsApi.UserApi
@{
    ViewBag.Title = "О пользователе";
    ViewBag.Title = Model.UserName;

}
<h4>@ViewData["content"]</h4>
<h2>Пользователь @Model.UserName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Почта</dt>
        <dd>@Model.Email</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Никнейм</dt>
        <dd>@Model.UserName</dd>
    </dl>
</div>