
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 style="color:white;" class="display-1 fw-bold">SUCCSESS!!!</h1>
        <p style="color:white;" class="fs-3"> <span style="color:white;" class="text-succsess">Opps!</span> FINE.</p>
        <p style="color:white;" class="lead">
            Your order are succsess done!
        </p>
        <a style="color:white;" asp-action="CarView" asp-controller="Home" class="btn btn-primary">Go Catalog</a>
    </div>
</div>