@{
}
<div class="container-fluid" style="background-color:#171717">
    <div class="row w-100" style="height: 100%; position:center; justify-content:center; align-items: center; background-repeat:no-repeat; width: 100%;">
        <img src="/image/Lexus-Electrified-Hero-desktop-1440x550-TBD.jpg" style="width: 100%; height: 100%;"/>    
    </div>
    <div class="row w-100 justify-content-center align-items-center text-center text-white mt-5">
        <h3 style="vertical-align: middle;">
            Будущее за электрокарами
        </h3>
        <p style="vertical-align: middle;">
            Мы верим, что настоящий прогресс не требует коротких путей. 
            Вот почему, поскольку мы стремимся к тому, чтобы в ближайшие годы во всем мире появились полностью электрические автомобили, наше видение электрификации — это опыт вождения, 
            который раздвигает границы производительности, изысканности и универсальности. Благодаря оригинальному дизайну,
            безупречному мастерству и поддержке общенациональной сети дилеров каждый электрифицированный Lexus соответствует высочайшему автомобильному стандарту
        </p>
        <img src="~/image/lexus-electric-supercar-concept-1654009840.jpeg"/>
    </div>
    <hr style="color: white; width: 100%;"/>
    <div class="row w-100 mt-5">
        <h3 class="text-center text-white">
            Концепт будущего спортивного электрокара
        </h3>
    </div>
    <div class="row w-100 mt-5">
        <img src="~/image/lexus-electrified-sport_100829222_h.jpg"/>
    </div>
    <div class="row w-100 mt-5">
        <div class="col-3">
            <h4 class="text-white" style="vertical-align: middle;">
                ЭЛЕКТРИЧЕСКИЙ СПОРТКАР LEXUS
            </h4>
            <p class="text-white" style="vertical-align: middle;">
                Образ духовного преемника культового суперкара LFA, Lexus Electrified Sport символизирует будущее Lexus.
                Раскрывая весь потенциал электрификации, чтобы раздвинуть все границы как на дороге, так и на трассе, 
                Lexus Electrified Sport предполагает потенциальное время 0–60 в низком двухсекундном диапазоне и крейсерскую дальность, 
                которая может превышать 430 миль, благодаря возможное использование твердотельных аккумуляторов.
            </p>
        </div>
        <div class="col-9">
            <img src="~/image/ogi-lex2.jpg" style="width: 100%; height: 100%;"/>
        </div>
    </div>
    <hr style="color: white;"/>
    <div class="row w-100 justify-content-center align-items-center mt-5">
        <h3 class="text-white text-center">
            Концепт будущего седана марки Toyota
        </h3>
    </div>
    <div class="row w-100 mt-5">
        <div class="col-12">
            <img src="~/image/New-Toyota-Prius-13.jpg" style="width: 100%; height: 100%;"/>
        </div>
    </div>
    <hr style="color: white; width: 100%;"/>
    <div class="row w-100 mt-5">
        <div class="col-8">
            <img src="~/image/2023-Toyota-Prius.jpg" style="width: 100%; height: 100%;"/>
        </div>
        <div class="col-4 align-items-center justify-content-center">
            <h4 class="text-center text-white" style="vertical-align: middle;">
                Электрический седан нового поколения Toyota Prius 2023
            </h4>
            <p class="text-white" style="vertical-align: middle;">
                Образ духовного преемника культового суперкара LFA, Lexus Electrified Sport символизирует будущее Lexus.
                Раскрывая весь потенциал электрификации, чтобы раздвинуть все границы как на дороге, так и на трассе, 
                Lexus Electrified Sport предполагает потенциальное время 0–60 в низком двухсекундном диапазоне и крейсерскую дальность, 
                которая может превышать 430 миль, благодаря возможное использование твердотельных аккумуляторов.
            </p>
            <p class="text-white"></p>
        </div>
    </div>
    <hr style="color: white; width: 100%;"/>
    <div class="row w-100 mt-5">
        <h3 class="text-white text-center">
            Концепт электрического внедорожника от Lexus
        </h3>
    </div>
    <div class="row w-100 mt-5">
        <img src="~/image/LexusElectricSUV.jpg"/>
    </div>
    <div class="row w-100 mt-5">
        <div class="col-4">
            <h4 class="text-white text-center" style="vertical-align: middle;">
                Электрический внедорожник от Lexus
            </h4>
            <p class="text-white mt-5" style="vertical-align: middle;">
                Независимо от того, опираетесь ли вы на наше внедорожное наследие для создания новых захватывающих
                развлечений или находите новые способы сочетания универсальности с динамичным вождением,
                наши электромобили завтрашнего дня станут катализаторами для большего удовольствия и удобства.
            </p>
        </div>
        <div class="col-8">
            <img src="/image/LexusSUV.jpg" style="width: 100%; height: 100%;"/>
        </div>
    </div>
    <hr style="color: white; width: 100%;"/>
    <div class="row w-100 mt-5 mb-5 align-items-center justify-content-center">
        <h4 class="text-center text-white">
            Геллерея
        </h4>
    </div>
    <div class="row w-100 align-items-center justify-content-center">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/image/ogi-lex2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/image/Lexus-electrified-gallery-mobile-960x541_BEV-SPORT_REAR.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/image/Lexus electric saloon.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/image/LexusSUV.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/image/lexus-electrified-sport_100829222_h.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/image/lexus-electric-supercar-concept-1654009840.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <hr style="color: white; width: 100%;"/>
    <div class="row w-100 align-content-center justify-content-center">
        <h3 class="text-center text-white mt-5">
            Каталог электрокаров выпущенных ранее и имеющиеся в продаже сейчас
        </h3>
        <button class="learnMorebtn mt-5" asp-action="ElectricCarView" asp-controller="Home" style="width: 200px; justify-content:center; align-items:center;">
            <b>
                Посмотреть
            </b>
        </button>
    </div>
</div>
