@using ModelsApi
@using MyCar.Web.Core
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

   

<div class="slider" id="slider" style="margin: 0px;"> 

    <div class="slider-content" id="slider-content">
        <div class="sl-img">
            <div class="sl-img-item sl-img-item-active" data-id="1"><img src="https://toppng.com/uploads/preview/mercedes-benz-cls350-amg-mercedes-machine-white-buildings-city-11569995130t8e9jqggio.jpg"/></div>
            <div class="sl-img-item" data-id="2"><img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Sauber-Mercedes_C9%2C_Bj._1988_%282009-08-07_Sp%29.jpg"/></div>
            <div class="sl-img-item" data-id="3"><img src="https://motor.ru/imgs/2021/03/25/07/4577323/db922858561d4e3cb98cf37db34efbff8a42269a.jpg"/></div>
        </div>
        <div class="sl-text">
            <div class="sl-text-item sl-text-item-active" data-id="1">
                <div class="sl-text-item-head">
                    <h3>Mersedez-350 sl</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Национальный Парк Йеллоустоун</p>
                </div>
            </div>
            <div class="sl-text-item" data-id="2">
                <div class="sl-text-item-head">
                    <h3>Mersedez Group-C</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Мальдивские Острова</p>
                </div>
            </div>
            <div class="sl-text-item" data-id="3">
                <div class="sl-text-item-head">
                    <h3>Toyota Camry</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Шотландия</p>
                </div>
            </div>
            <div class="sl-text-item" data-id="4">
                <div class="sl-text-item-head">
                    <h3>Озеро Ирен</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Национальный парк Роки-Маунтин</p>
                </div>
            </div>          
        </div>
    </div>
    <div class="slider__nav" style="height: 900px;">
        <div class="sl-nav-arrows">
            <div class="sl-nav-arrow sl-nav-arrow-left" id="left">Лево</div>
            <div class="sl-nav-arrow sl-nav-arrow-right" id="right">Право</div>
        </div>
        <div class="sl-nav-dots" id="sl-nav-dots">
            <div class="sl-nav-dot sl-nav-dot-active" data-id="1"></div>
            <div class="sl-nav-dot" data-id="2"></div>
            <div class="sl-nav-dot" data-id="3"></div>
            <div class="sl-nav-dot" data-id="4"></div>
            <div class="sl-nav-dot" data-id="5"></div>
            <div class="sl-nav-dot" data-id="6"></div>
        </div>
    </div>
</div>

@model IEnumerable<ModelsApi.MarkCarApi>

<h2>Марки</h2>
<div class="cards">
        @foreach(MarkCarApi markCar in Model)
        {
        <div class="card">
        <div class="card-image">
            <img src="~/MarkImages/@markCar.MarkPhoto"/>
        </div> 
        <div class="card-content">
            <div class="card-title">
                @markCar.MarkName
            </div>
            <a asp-action="GetAuto" asp-controller="Home" asp-route-id="@markCar.ID">
                Подробнее
            </a>
        </div>
        </div>
        }
</div>

<div class="fix-bg" style="background-image: url(https://i.pinimg.com/originals/3d/ac/a6/3daca6799278592596d12bd9d1086174.jpg); background-size:cover;">
<div class="text-wp">    
    <div class="text-bg">
        <div class="text-bg-2">
            <h1>Sauber-Mercedez C9</h1>
            <a asp-action="CarView" asp-controller="Home">
                Каталог
            </a>
        </div>
    </div>
</div>   
</div>
<div class="fix-bg" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f5/Mazda-787B-No55-July2011.jpg); background-size:cover;" >
<div class="text-wp">    
    <div class="text-bg">
        <div class="text-bg-2">
            <h1>Mazda 787B</h1>
        </div>
    </div>
</div>   
</div>
</div>
  <div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2 class="fw-normal">Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="tabs3d">
    <div class="tabs3d-control"></div>
    <div class="tabs3d-stage">
        <div class="spinner spinner-left">
            <div class="spinner-face" data-bg="#2b4356" data-menu="Sauber-Mercedes C9">
                <div class="content">
                    <div class="content-left">
                        <img src="~/image/MercedesC9.jpg" width="650px;" height="460px;"/>
                        <div class="content-title">
                            <div>Mercedes C9</div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="content-main">
                            <p>C9 был развитием предыдущей конструкции Sauber C8 с сохранением монокока .он в основном состоял из алюминия, хотя и был значительно жестче и с множеством других улучшений. Задняя подвеска была изменена с вертикально расположенных пружинно-демпферных блоков, расположенных над коробкой передач, на горизонтальную компоновку, выровненную с продольной осью автомобиля. Аэродинамические изменения включали перемещение комбинации масляно-водяного радиатора в носовую часть автомобиля, что позволило использовать модифицированную разделительную пластину. 
                            В соответствии с изменением положения радиаторов большие воздуховоды NACA были удалены из верхней части дверных порогов. Задняя палуба была значительно перепрофилирована, а заднее крыло теперь устанавливалось исключительно на центральной опоре. Аэродинамически автомобиль имел две конфигурации: одну для спринтерских гонок и версию с низким сопротивлением для 5,8-километровой трассы Mulsanne Straight в Ле-Мане. 
                            В спринтерской конфигурации он производил 2222,1 кг (4899 фунтов) прижимной силы на скорости 320 км / ч (200 миль в час) при 555,7 кг (1225 фунтов) сопротивления. Конфигурация спринтерской схемы имела отношение L / D 4: 1, а версия с низким сопротивлением - около 3: 
                            1. Ранние двигатели снова были подготовлены швейцарским специалистом по двигателям Хайни Мадером, хотя теперь известно, что это было прикрытием для участия Mercedes в проекте позже. Он был постепенно облегчен за счет использования нового коленчатого вала, более эффективных турбокомпрессоров KKK и блока без гильзы. Это была полунапряженная часть шасси с сухим картером . Не было никаких специальных квалификационных двигателей, и при давлении наддува 2,2 бар он, как говорили, имел мощность «почти 800 л.с. (811 л.с., 597 кВт)». 
                            Максимальный гоночный наддув составлял 1,9 бар. 
                            Максимальное число оборотов в минуту составляло 7000, но гонщики обычно держались на уровне 6500 во время гонок. Кривая крутящего момента была почти одинаковой в диапазоне от 3000 до 6000 об/мин, что давало двигателю достаточную гибкость. [2]Двигатель сохранил поперечный коленчатый вал, а порядок зажигания был 1-5-4-8-6-3-7-2. Более поздние двигатели M119HL поставлялись с завода двигателей Mercedes в Унтертюркхайме , которым руководил Герман Хирет. 
                            Добавление 16 клапанных головок в 1989 году увеличило мощность примерно на 20 л.с. (20 л.с., 15 кВт) до примерно 720 л.с. (730 л.с., 537 кВт) при 1,6 бар и 7000 об/мин. 
                            Повышение топливной экономичности означало, что абсолютная мощность также может быть увеличена с чуть менее 800 л.с. при давлении наддува 2,2 бара до примерно 820 л.с. (831 л.с., 611 кВт).</p>
                            <p class="content-autor">Автор</p>
                        </div>
                    </div>
                </div>
            </div>                
        
<!--  Еще вкладки -->
 
            <div class="spinner-face" data-bg="#353f49" data-menu="Mazda 787B">
                <div class="content">
                    <div class="content-left">
                        <img src="~/image/MazdaGroupC.jpg" width="650px;" height="460px;"/>
                        <div class="content-title">
                            <div>Mazda 787B</div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="content-main">
                            <p>Mazda 787 и ее производная 787B — это спортивные прототипы гоночных автомобилей группы C, которые были разработаны японским производителем автомобилей Mazda для использования в чемпионате мира по спортивным автомобилям , всеяпонском чемпионате по спортивным прототипам и гонках « 24 часа Ле-Мана» с 1990 по 1991 год. объединив смесь правил Международной федерации спортивных автомобилей (FISA) группы C с правилами GTP Международной ассоциации автоспорта (IMSA) , 787-е были последними роторными двигателями Ванкеля. 
                            Гоночные автомобили для участия в чемпионатах мира и Японии с двигателем Mazda R26B.
                            Хотя моделям 787 и 787B не хватало скорости на одном круге участников чемпионата мира, таких как Mercedes-Benz , Jaguar и Porsche , а также участников чемпионата Японии Nissan и Toyota , модели 787 обладали надежностью, которая позволяла им бороться за свои соответствующие чемпионаты. 
                            Надежность автомобилей в конечном итоге окупилась в 1991 году, когда 787B, управляемый Джонни Гербертом , Фолькером Вайдлером и Бертраном Гашо , одержал победу в гонке «24 часа Ле-Мана» 1991 года . 
                            По состоянию на 2021 год это остается единственной победой автомобиля без поршневого двигателя .дизайн. 
                            Это была первая победа японского производителя и единственная такая победа до победы Toyota в гонке «24 часа Ле-Мана» 2018 года .
                        </p>
                            <p class="content-autor">Автор</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
 
<!--  Предзагрузка картинок  -->
<div style="height: 0; width: 0; overflow: hidden">
    <img src="~/image/MercedesC9.jpg">
    <img src="image-n.jpg">
</div>    
</div>

@if (User.IsInRole("Администратор") && TempData["AllertMessage"] != null)
{
    <div class="callout" data-bs-dismiss="alert" role="alert">
    <div class="callout-header">Window Role</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <div class="callout-container">
    <p>You Sign In as Admin</p>
    </div>
    </div>
}
else
{
    <div></div>
}
