@using ModelsApi
@using MyCar.Web.Core
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
<div class="wow bounceInDown slider" id="slider" style="margin: 0px;"> 
    <div class="slider-content" id="slider-content">
        <div class="sl-img">
            <div class="sl-img-item sl-img-item-active" data-id="1"><img src="/image/sliderPhoto1.jpg"/></div>
            <div class="sl-img-item" data-id="2"><img src="/image/sliderPhoto2.jpg" /></div>
            <div class="sl-img-item" data-id="3"><img src="/image/sliderPhoto3.jpg"/></div>
        </div>
        <div class="sl-text">
            <div class="sl-text-item sl-text-item-active" data-id="1">
                <div class="sl-text-item-head">
                    <h3>Mersedez-350 sl</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Национальный Парк Йеллоустоун</p>
                </div>
            </div>
            <div class="sl-text-item" data-id="2">
                <div class="sl-text-item-head">
                    <h3>Mersedez Group-C</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Мальдивские Острова</p>
                </div>
            </div>
            <div class="sl-text-item" data-id="3">
                <div class="sl-text-item-head">
                    <h3>Toyota Camry</h3>
                </div>
                <div class="sl-text-item-info">
                    <p>Шотландия</p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__nav" style="height: 900px;">
        <div class="sl-nav-arrows">
            <div class="sl-nav-arrow sl-nav-arrow-left" id="left">Лево</div>
            <div class="sl-nav-arrow sl-nav-arrow-right" id="right">Право</div>
        </div>
        <div class="sl-nav-dots" id="sl-nav-dots">
            <div class="sl-nav-dot sl-nav-dot-active" data-id="1"></div>
            <div class="sl-nav-dot" data-id="2"></div>
            <div class="sl-nav-dot" data-id="3"></div>
        </div>
    </div>
</div>


@*@model IEnumerable<ModelsApi.MarkCarApi>

<h2 class="wow rollIn">Марки</h2>
<div class="cards">
        @foreach(MarkCarApi markCar in Model)
        {
        <div class="card wow rollIn">
        <div class="card-image">
            <img src="~/MarkImages/@markCar.MarkPhoto"/>
        </div> 
        <div class="card-content">
            <div class="card-title">
                @markCar.MarkName

<section class="row w-100">
    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 recent-vehicles padding-left-none">
                            <h5 class="margin-top-none" style="color:white;">Popular Vehicles</h5>
                            <p style="color: white;">Our most popular cars</p>
                            <div class="arrow3 clearfix margin-top-15 xs-margin-bottom-25" id="slideControls3"><span class="prev-btn"><a class="bx-prev" href="">Prev</a></span><span class="next-btn"><a class="bx-next" href="">Next</a></span></div>
    </div>
    <div style="width: 300px; height: 300px; margin-top: 10px; background-color:#171717;">
            <div class="corner-box-1-content" style="background-color:#171717">
                <div class="card-body img-responsive">
                    <h4 class="card-title">
                        <img class="imageCardHover" src="~/CarImages/toyota_camry2019_grey.png" style="width:200px; height:200px; position:relative;"/>
                        <br />
                        <h5 style="color:white;">CarName</h5>
                        <button class="imageButton">
                            <h1>
                                <a class="imageLink" asp-action="DetailsCarView" asp-controller="Car">+</a>
                            </h1>
                        </button>
                    </h4>
                    <h5>2 000 000 &#8381</h5>
                    
                </div>

            </div>
        </div>
        <div style=" width: 300px; height: 300px; margin-top: 10px; background-color:#171717;">
            <div class="corner-box-1-content" style="background-color:#171717">
                <div class="card-body img-responsive">
                    <h4 class="card-title">
                        <img src="~/CarImages/ToyotaCrown.png" style="width:200px; height:200px; position:relative;"/>
                        <br />
                        <h5 style="color:white;">CarName</h5>
                        <button class="imageButton">
                            <h1>
                                <a class="imageLink" asp-action="DetailsCarView" asp-controller="Car">+</a>
                            </h1>
                        </button>
                    </h4>
                    <h5>5 000 000 &#8381</h5>
                    
                </div>
            </div>
        </div>

        }
</div>*@

    <div class="row p-3 mt-5 mb-5">
        <div class="col">
                <p class="h1 text-white text-center"></p>
        </div>
    </div>

    <section class="w-100" >
        <div class="myContainer w-100">
            <img src="/image/landingText.jpg" style="width: 100%;"/>
            <div class="textCenterLeft">Новая ЛАМБА</div>
        </div>
    </section>

    <div class="container">

        <div class="row mb-5 mt-5">
            <div class="col">

                <div class="justify-content-center">
                    <h4 class="p3 text-white " style="margin-bottom: 7%;">Финансирование</h4>
                    <a href="#">
                        <img src="/image/sectionPhoto3.png" style="max-width: 8rem; " />
                        <div class="mask"></div>
                    </a>
                </div>

            </div>

            <div class="col">

                <div class="justify-content-center">
                    <h4 class="p3 text-white " style="margin-bottom: 7%;">Гарантия</h4>
                    <a href="#">
                        <img src="/image/sectionPhoto2.png" style="max-width: 8rem; " />
                    </a>
                </div>
            </div>

            <div class="col">

                <div class="justify-content-center">
                    <h4 class="p3 text-white " style="margin-bottom: 7%;">О нас</h4>
                    <a href="#"> 
                        <img src="/image/sectionPhoto1.png" style="max-width: 8rem; " />
                    </a>
                </div>
            </div>

            <div class="col">

                <div class="justify-content-center">
                    <h4 class="p3 text-white " style="margin-bottom: 7%;">Местонахождение</h4>
                    <a href="#">
                        <img src="/image/sectionPhoto4.png" style="max-width: 8rem; " />
                    </a>
                </div>
            </div>
        </div>

        @*<div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="thumbnail">
                        <div class="picture1">
                            <img class="img-responsive" src="http://frontendfreecode.com/img/pizza.jpeg" alt="...">
                        </div>
                        <div class="picture2">
                            <img class="img-responsive" src="http://frontendfreecode.com/img/salad-square.jpg" alt="">
                        </div>
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>*@


    </div>

    @*<div class="slider" id="slider">
        <div class="slider-content" id="slider-content">
            <div class="sl-img">
                <div class="sl-img-item sl-img-item-active" data-id="1"><img src="/image/sliderPhoto1.jpg" /></div>
                <div class="sl-img-item" data-id="2"><img src="/image/landingText2.jpg" /></div>
            </div>
        </div>

        <div class="slider__nav" style="height: 900px;">
            <div class="sl-nav-arrows">
                <div class="sl-nav-arrow sl-nav-arrow-left" id="left">Лево</div>
                <div class="sl-nav-arrow sl-nav-arrow-right" id="right">Право</div>
            </div>
            <div class="sl-nav-dots" id="sl-nav-dots">
                <div class="sl-nav-dot sl-nav-dot-active" data-id="1"></div>
                <div class="sl-nav-dot" data-id="2"></div>
                <div class="sl-nav-dot" data-id="3"></div>
            </div>
        </div>

    </div>*@

        <div style=" width: 300px; height: 300px; margin-top: 10px; background-color:#171717;">
            <div class="corner-box-1-content" style="background-color:#171717">
                <div class="card-body img-responsive">
                    <h4 class="card-title">
                        <img src="~/CarImages/ToyotaCamry.png" style="width:200px; height:200px; position:relative;"/>
                        <br />
                        <h5 style="color:white;">CarName</h5>
                        <button class="imageButton">
                            <h1>
                                <a class="imageLink" asp-action="DetailsCarView" asp-controller="Car">+</a>
                            </h1>
                        </button>
                    </h4>
                    <h5 style="color: white;">4 000 000 &#8381</h5>
                    
                </div>
            </div>
        </div>
        <div style=" width: 300px; height: 300px; margin-top: 10px; background-color:#171717;">
            <div class="corner-box-1-content" style="background-color:#171717">
                <div class="card-body img-responsive">
                    <h4 class="card-title">
                        <img src="~/CarImages/MazdaRx-7.png" style="width:200px; height:200px; position:relative;"/>
                        <br />
                        <h5 style="color:white;">CarName</h5>
                        <button class="imageButton">
                            <h1>
                                <a class="imageLink" asp-action="DetailsCarView" asp-controller="Car">+</a>
                            </h1>
                        </button>
                    </h4>
                    <h5 style="color: white;">12 000 000 &#8381</h5>
                    
                </div>
            </div>
        </div>
</section>


<div class="fix-bg wow slideInLeft" style="background-image: url(https://i.pinimg.com/originals/3d/ac/a6/3daca6799278592596d12bd9d1086174.jpg); background-size:cover;">
<div class="text-wp">    
    <div class="text-bg">
        <div class="text-bg-2">
            <h1>Sauber-Mercedez C9</h1>
            <a asp-action="CarView" asp-controller="Home">
                Каталог
            </a>
        </div>
    </div>
</div>   
</div>
<div class="fix-bg wow slideInRight" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f5/Mazda-787B-No55-July2011.jpg); background-size:cover;" >
<div class="text-wp">    
    <div class="text-bg">
        <div class="text-bg-2">
            <h1>Mazda 787B</h1>
            <a asp-action="CarView" asp-controller="Home">
                Каталог
            </a>
        </div>
    </div>
</div>   
</div>

</div>
<section class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="2s">
  <div class="container">


        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2447.3968671385614!2d131.93022815076606!3d43.1578304312577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fb391623a672f83%3A0xf27dcac12572fe03!2sTukhachevskogo%20St%2C%2030%2C%20Vladivostok%2C%20Primorskiy%20kray%2C%20690089!5e0!3m2!1sen!2sru!4v1673944977896!5m2!1sen!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

<section class="row">
    <div class="col-4">
        <h4 style="color: white;">Happy Clients</h4>
        <div class="value" akhi="1000">0</div>
    </div>
    <div class="col-4">
        <h4 style="color: white;">Sold Cars</h4>
        <div class="value" akhi="1000">0</div>
    </div>
    <div class="col-4">
        <h4 style="color: white;">Collect money</h4>
        <div class="value" akhi="200000">0</div>
    </div>

</section>

</div>
<section class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="2s">
  <div class="container">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div class="tabs3d">
    <div class="tabs3d-control"></div>
    <div class="tabs3d-stage">
        <div class="spinner spinner-left">
            <div class="spinner-face" data-bg="#2b4356" data-menu="Sauber-Mercedes C9">
                <div class="content">
                    <div class="content-left">
                        <img src="~/image/MercedesC9.jpg" width="650px;" height="460px;"/>
                        <div class="content-title">
                            <div>Mercedes C9</div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="content-main">
                            <p>C9 был развитием предыдущей конструкции Sauber C8 с сохранением монокока .он в основном состоял из алюминия, хотя и был значительно жестче и с множеством других улучшений. Задняя подвеска была изменена с вертикально расположенных пружинно-демпферных блоков, расположенных над коробкой передач, на горизонтальную компоновку, выровненную с продольной осью автомобиля. Аэродинамические изменения включали перемещение комбинации масляно-водяного радиатора в носовую часть автомобиля, что позволило использовать модифицированную разделительную пластину. 
                            В соответствии с изменением положения радиаторов большие воздуховоды NACA были удалены из верхней части дверных порогов. Задняя палуба была значительно перепрофилирована, а заднее крыло теперь устанавливалось исключительно на центральной опоре. Аэродинамически автомобиль имел две конфигурации: одну для спринтерских гонок и версию с низким сопротивлением для 5,8-километровой трассы Mulsanne Straight в Ле-Мане. 
                            В спринтерской конфигурации он производил 2222,1 кг (4899 фунтов) прижимной силы на скорости 320 км / ч (200 миль в час) при 555,7 кг (1225 фунтов) сопротивления. Конфигурация спринтерской схемы имела отношение L / D 4: 1, а версия с низким сопротивлением - около 3: 
                            1. Ранние двигатели снова были подготовлены швейцарским специалистом по двигателям Хайни Мадером, хотя теперь известно, что это было прикрытием для участия Mercedes в проекте позже. Он был постепенно облегчен за счет использования нового коленчатого вала, более эффективных турбокомпрессоров KKK и блока без гильзы. Это была полунапряженная часть шасси с сухим картером . Не было никаких специальных квалификационных двигателей, и при давлении наддува 2,2 бар он, как говорили, имел мощность «почти 800 л.с. (811 л.с., 597 кВт)». 
                            Максимальный гоночный наддув составлял 1,9 бар. 
                            Максимальное число оборотов в минуту составляло 7000, но гонщики обычно держались на уровне 6500 во время гонок. Кривая крутящего момента была почти одинаковой в диапазоне от 3000 до 6000 об/мин, что давало двигателю достаточную гибкость. [2]Двигатель сохранил поперечный коленчатый вал, а порядок зажигания был 1-5-4-8-6-3-7-2. Более поздние двигатели M119HL поставлялись с завода двигателей Mercedes в Унтертюркхайме , которым руководил Герман Хирет. 
                            Добавление 16 клапанных головок в 1989 году увеличило мощность примерно на 20 л.с. (20 л.с., 15 кВт) до примерно 720 л.с. (730 л.с., 537 кВт) при 1,6 бар и 7000 об/мин. 
                            Повышение топливной экономичности означало, что абсолютная мощность также может быть увеличена с чуть менее 800 л.с. при давлении наддува 2,2 бара до примерно 820 л.с. (831 л.с., 611 кВт).</p>
                            <p class="content-autor">Автор</p>
                        </div>
                    </div>
                </div>
            </div>                
            <div class="spinner-face" data-bg="#353f49" data-menu="Mazda 787B">
                <div class="content">
                    <div class="content-left">
                        <img src="~/image/MazdaGroupC.jpg" width="650px;" height="460px;"/>
                        <div class="content-title">
                            <div>Mazda 787B</div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="content-main">
                            <p>Mazda 787 и ее производная 787B — это спортивные прототипы гоночных автомобилей группы C, которые были разработаны японским производителем автомобилей Mazda для использования в чемпионате мира по спортивным автомобилям , всеяпонском чемпионате по спортивным прототипам и гонках « 24 часа Ле-Мана» с 1990 по 1991 год. объединив смесь правил Международной федерации спортивных автомобилей (FISA) группы C с правилами GTP Международной ассоциации автоспорта (IMSA) , 787-е были последними роторными двигателями Ванкеля. 
                            Гоночные автомобили для участия в чемпионатах мира и Японии с двигателем Mazda R26B.
                            Хотя моделям 787 и 787B не хватало скорости на одном круге участников чемпионата мира, таких как Mercedes-Benz , Jaguar и Porsche , а также участников чемпионата Японии Nissan и Toyota , модели 787 обладали надежностью, которая позволяла им бороться за свои соответствующие чемпионаты. 
                            Надежность автомобилей в конечном итоге окупилась в 1991 году, когда 787B, управляемый Джонни Гербертом , Фолькером Вайдлером и Бертраном Гашо , одержал победу в гонке «24 часа Ле-Мана» 1991 года . 
                            По состоянию на 2021 год это остается единственной победой автомобиля без поршневого двигателя .дизайн. 
                            Это была первая победа японского производителя и единственная такая победа до победы Toyota в гонке «24 часа Ле-Мана» 2018 года .
                        </p>
                            <p class="content-autor">Автор</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

    @*<div class="row" style="margin-bottom: 85px; margin-top: 85px">
        <div class="col p-1">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Вопрос 1
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Член <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Вопрос 2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Член <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Вопрос 3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Член <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
        </div>
    </div>*@


<!--  Предзагрузка картинок  -->
<div style="height: 0; width: 0; overflow: hidden">
    <img src="~/image/MercedesC9.jpg">
    <img src="image-n.jpg">
</div>    
</div>
</section>


@if (User.IsInRole("Администратор") && TempData["AllertMessage"] != null)
{
    <div class="callout" data-bs-dismiss="alert" role="alert">
    <div class="callout-header">Window Role</div>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <div class="callout-container">
    <p>You Sign In as Admin</p>
    </div>
    </div>
}
else
{
    <div></div>
}
